
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-image: url(https://img.freepik.com/premium-vector/green-background_144316-1683.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
 align-items: center;
   background: rgb(255, 255, 255);
  padding: 15px 20px;
border: 6px solid rgb(16, 200, 43);
  height: 300px;
}

.log {
  color: #00ff88;
  font-size: 22px;
  font-weight: bold;
}

 

/* ===== MOBILE ===== */



.hero {
  background:none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  z-index: 10;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
    animation: sideUp 1s ease-out;
    z-index: 10000;
    
}
.item {

           padding: 5px;
    width: 25%;
 background-color: rgb(0, 0, 0);
height: 10%;
    border-radius: 60px;
   padding-top: -10px;
    text-align: center;
transition: all 0.5s ease;
box-shadow: 0 0 0 3px #ffffff, 0 12px 25px rgb(0, 0, 0);
animation: sideUp 1s ease-out;


}




   
.item:hover {
  
  transform: translateY(-19px);
  box-shadow: 0 0 0 3px #5f7208;
    
}




.item img {
    width: 100%;
    border-radius: 50px;
 padding: none;
    object-fit: cover;
}



.item h2 {
    font-size: 10px;
    margin: 10px 0 5px;
    border-radius: 80px;
    color: #ffffff;
   
}


.item p {
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
}


.item button {
    background-color: #4cab08;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
}











.item button:hover {
    background-color: #00ff6a;
    transition: 0.4;
}
.cont1{
  width: 95%;
    background-color:rgba(0, 0, 0, 0.686);
    backdrop-filter: blur(25px);
   height: 80%;
   margin-left: 3%;
    border-radius: 20px;
    padding-bottom: 10px;
    padding: 20px;
   z-index: 1000;
}
.button-cont{
 
}
.hero h1 {
  font-size: 48px;
  color: #ffffff;
}
.logo img{
  width: 45%;
  height: 49%;
 margin-top: -13%;
  position: absolute;
  margin-left: 24%;
  z-index: 1;
}


/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  
}

.section h2 {
  margin-bottom: 15px;
}
 


.logotip {
  color: #000000;
  margin-left: -12%;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 50%;
  box-shadow: 10px rgb(255, 255, 255);
  text-shadow: 10px 10px 10px #757474;
  justify-content: end;
}


.btn1{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
  font-size: 23px;
}
.btn2{
  width: 30%;
  height: 60px;
  background-color:rgba(255, 0, 0, 0.873);
  border-radius: 20px;
  color: #ffffff;
   font-size: 23px;
}
.gray {
  background: #f4f4f4;
  border-radius: 20px;
  padding-right: 10px;
}
.li{
  padding: 10px;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  border-radius: 8px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
  box-shadow: 0 5px 25px rgba(0,0,0,0.4);
}

/* ===== LOGO ===== */
.log {
  color: #86ba15;
  font-size: 22px;
  font-weight: bold;
}

/* ===== LINKS (DESKTOP) ===== */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #00ff88, #00cfff);
  transition: 0.4s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #00ff88;
}

/* ===== BURGER ===== */
.burger {
  width: 35px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger span {
  height: 4px;
  width: 100%;
  background: linear-gradient(90deg, #76c30b, #f9f9f9);
  border-radius: 5px;
  transition: 0.4s;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .burger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(15, 15, 15, 0.97);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translateX(100%);
    transition: 0.4s ease;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  
}
/* FOOTER */
.footer {
  background: rgba(0, 0, 0, 0.91);
  color: #fff;
  text-align: center;
  padding: 20px;
  height: 630px;
}
.icon{
          margin-top: 450px;
          
           padding: 50px;
        
            
          display: flex;
           justify-content:space-around;
    
        }

.container2{
width: 1000px;
height: 80px;

border-radius: 40px;
position: absolute;
margin-left: 220px;
margin-top: 120px;
justify-content: space-around;
display: flex;
    background:none;
    border:none
}

.instagram-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 17%;
  
  box-shadow:  0 12px 25px rgb(255, 0, 89);


}
.instagram-icon:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #e1306c;
  border-radius: 17%;
 
 
}
.facebook-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 10%;
  
  box-shadow:  0 12px 25px rgb(0, 0, 235);


}
.facebook-icon:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #0818f7;
  border-radius: 10%;
 
}
.whatsapp-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 10%;

  box-shadow:  0 12px 25px rgb(17, 255, 0);
 
}


.whatsapp-icon:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px #25D366;
  border-radius: 10%;
}
.product{
  margin-left: 50px;
  
  width: 300px;
}
.product img{
  width: 300px;
  height: 250px;
 border: 4px solid black;
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
   box-shadow:  0 0 25px rgb(37, 255, 63);
}

.contact{
  width: 600px;
  height: 200px;
  position: absolute;
  margin-left: 450px;
 
  font-size: 35px;
  margin-top: -200px;
 
  
}


h5{
  color: #ffffff;
  font-size: 35px;
 
}




.prava p{
  color: #fff;
  font-size: 23px;
  
  
}
.prava{
  background:none;
  position: absolute;
  margin-left: -570px;
  margin-top: 50px;
}
@keyframes side{
    from{transform:translateX(150px);
    opacity:0;}
    to {transform:translateX(0); opacity: 1;}

}
.logo p{
  color: #000000;
  font-size: 25px;
  z-index: 100;
  position: absolute;
  margin-top: 6%;
  margin-left: 35%;
  letter-spacing: 7px;
  font-style: italic;
  text-decoration: solid;
}
/* ADAPTIVE */
@media (max-width: 786px) {
  .product img{
    width:50%;
    height: 20%;
    margin-left: -95%;
  }
  .header{
    height: 288px;
  }
.prava{
  margin-left: -65%;
  width: 90%;
  color: #00cfff;

}
.prava p{
  font-size: 17px;
}
.footer{
  height: 450px;
  width: 100%;
  
}
.container2{
  gap: 20px;
  width: 200px;
  margin-left: 13%;
  
 
 
}
h5{
  font-size: 12px;
  margin-left: -1%;
  margin-top: -80%;
  
}
h6{
 margin-left: 8%;
  position: absolute;
  font-size: 15px;
  margin-top: -19%;
}
.contact p{
  font-size: 16px;
  color: #f3f3f3;
 
}
.contact{
 
  width: 40%;
  margin-left: 44%;
  margin-top: -1%;
  height: 12%;
}

.whatsapp-icon{
  width: 40px;
  height: 40px;
}
.facebook-icon{
  width: 40px;
  height: 40px;
}
.instagram-icon{
  width: 40px;
  height: 40px;
}

  
.logo{
  margin-left: 32%;
}
  .hero h1 {
    font-size: 34px;
  }
  .cont1 img{
    width: 70%;
      height: 300px;
  }
  .cont1 {
    width: 110%;
 margin-left: -5%;
 padding-top: 10px;

  }
  .btn2{
    font-size: 12px;
  }
   .btn1{
    font-size: 12px;
  }
  .item{
    width: 280px;
   border: none;
   border-radius: 10px;
    box-shadow: 0 0 0 3px #00ff11, 0 12px 25px rgb(79, 130, 9);
   
  }
  .item p{
    font-size: 12px;
   
  }
  .catalog{
    gap: 29px;
  }
  .item img{
    width: 100%;
    border-radius: 10px;
    
  }
  .logo img{
    width: 85%;
    height: 38%;
    margin-top: -36%;
    margin-left: -26%;
  
   
  }
  .logo p{
    margin-top: 25%;
    font-size: 4vh;
   margin-left: -1%;
   font-size: 12px;
   letter-spacing: normal;
  }
  .logor{
    color: rgb(0, 0, 0);
    
  }
}